body {
  background-color: var(--gray-200);
}

.header-container {
  background-color: var(--gray-700);
}

.header-content {
  padding: 24px 0 88px;
}

.header-content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.free-time-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.free-time-detail {
  font-weight: 500;
}

.user-info-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.username {
  font: 600 20px "IBM Plex Sans", sans-serif;
  line-height: 30px;
}

.see-profile {
  line-height: 24px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  color: var(--gray-400);
}

.user-photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2.5px solid var(--orange-500);
  object-fit: cover;
}

.header-separator {
  height: 1.5px;
  background-color: var(--gray-650);
  margin: 16px 0 32px;
}

.header-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-status-container {
  display: flex;
  gap: 40px;
}

.projects-status-content {
  display: flex;
  flex-direction: column;
}

.project-amount {
  font-size: 24px;
  line-height: 26px;
}

.project-status {
  color: var(--gray-400);
  line-height: 26px;
}

.add-new-job-container {
  background-color: var(--orange-500);
  padding: 12px 32px 12px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.add-new-job-icon-box {
  border-radius: 5px;
  background: var(--gray-800);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.add-new-job-icon {
  width: 24px;
}

.add-new-job {
  text-transform: uppercase;
  font: 700 14px "IBM Plex Sans", sans-serif;
}

.jobs-table {
  display: flex;
  margin-bottom: 60px;
}

.jobs-table tbody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: -48px;
}

.jobs-table tr {
  display: flex;
  align-items: center;
  background-color: var(--gray-100);
  height: 96px;
  border-radius: 5px;
  border: 1px solid var(--gray-300);
  padding: 0 32px;
}

.job-index {
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 600;
  width: 5%;
}

.job-name {
  color: var(--gray-600);
  font-size: 24px;
  font-weight: 600;
  width: 22%;
}

.job-delivery-time,
.job-cost {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.job-delivery-time {
  width: 22%;
}

.job-cost {
  width: 19%;
}

.table-data-title {
  color: var(--gray-400);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.table-data-content {
  font-weight: 600;
  color: var(--gray-500);
  font-size: 16px;
}

.job-status {
  width: 21%;
}

.job-status-box {
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  border-radius: 30px;
  padding: 8px 24px;
}

.in-progress {
  color: var(--green-500);
  background-color: var(--green-200);
}

.closed {
  color: var(--red-500);
  background-color: var(--red-200);
}

.job-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 11%;
}

.job-actions button {
  padding: 8px;
  background-color: var(--gray-100);
  border: solid 1px var(--gray-300);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-icon {
  width: 24px;
  height: 24px;
}
