@media (max-width: 1080px) {
  .jobs-table tr {
    overflow-x: scroll;
  }

  .job-index {
    min-width: 40px;
  }

  .job-name {
    min-width: 220px;
  }

  .job-delivery-time {
    min-width: 190px;
  }

  .job-cost {
    min-width: 140px;
  }

  .job-status {
    min-width: 164px;
  }

  .job-actions {
    min-width: 100px;
  }
}

@media (max-width: 890px) {
  .header-content-top {
    position: relative;
    padding-bottom: 60px;
  }

  .free-time-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .header-content-bottom {
    flex-direction: column;
    gap: 28px;
  }

  .projects-status-container {
    width: 100%;
    justify-content: space-between;
  }

  .projects-status-content {
    width: 120px;
    align-items: center;
  }

  .add-new-job-container {
    width: 100%;
    justify-content: center;
    height: 48px;
  }

  .add-new-job-icon-box {
    display: none;
  }
}
